ion-content{
    --padding-bottom: 10%;
}
#pequeno{
    width: 20px;
}
#mediano{
    width: 25px;
}
#grande{
    width: 30px;
}
.card-content{
    align-content: flex-end !important;
    height: 8.75rem !important;
}