<!--<ion-header>
  <ion-toolbar>
    <ion-title>mis-ventas</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-card mode="ios" class="card-header paddin-left-right-general ion-text-center">
    <ion-card-title mode="ios" class="titulos-content" (click)="back()"><ion-icon name="arrow-back-outline" id="iconheader"></ion-icon> Mis ventas</ion-card-title>
  </ion-card>
  <ion-list mode="ios" class="paddin-left-right-general margin-top-conten-general">
    <ion-item lines="none" mode="ios" class="item-list-ventas">
      <ion-label mode="ios" class="family-poppins-semi-bold label-ventas">Este ese nombre SRL</ion-label>
      <ion-button mode="ios" slot="end" class="btn-flecha ion-no-padding" (click)="detalleVentas()"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
    </ion-item>
    <ion-item lines="none" mode="ios" class="item-list-ventas">
      <ion-label mode="ios" class="family-poppins-semi-bold label-ventas">Este ese nombre SRL</ion-label>
      <ion-button mode="ios" slot="end" class="btn-flecha ion-no-padding" (click)="detalleVentas()"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
    </ion-item>
    <ion-item lines="none" mode="ios" class="item-list-ventas">
      <ion-label mode="ios" class="family-poppins-semi-bold label-ventas">Este ese nombre SRL</ion-label>
      <ion-button mode="ios" slot="end" class="btn-flecha ion-no-padding" (click)="detalleVentas()"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
    </ion-item>
    <ion-item lines="none" mode="ios" class="item-list-ventas">
      <ion-label mode="ios" class="family-poppins-semi-bold label-ventas">Este ese nombre SRL</ion-label>
      <ion-button mode="ios" slot="end" class="btn-flecha ion-no-padding" (click)="detalleVentas()"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
    </ion-item>
    <ion-item lines="none" mode="ios" class="item-list-ventas">
      <ion-label mode="ios" class="family-poppins-semi-bold label-ventas">Este ese nombre SRL</ion-label>
      <ion-button mode="ios" slot="end" class="btn-flecha ion-no-padding" (click)="detalleVentas()"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
    </ion-item>
    <ion-item lines="none" mode="ios" class="item-list-ventas">
      <ion-label mode="ios" class="family-poppins-semi-bold label-ventas">Este ese nombre SRL</ion-label>
      <ion-button mode="ios" slot="end" class="btn-flecha ion-no-padding" (click)="detalleVentas()"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
    </ion-item>
    <ion-item lines="none" mode="ios" class="item-list-ventas">
      <ion-label mode="ios" class="family-poppins-semi-bold label-ventas">Este ese nombre SRL</ion-label>
      <ion-button mode="ios" slot="end" class="btn-flecha ion-no-padding" (click)="detalleVentas()"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
    </ion-item>
    <ion-item lines="none" mode="ios" class="item-list-ventas">
      <ion-label mode="ios" class="family-poppins-semi-bold label-ventas">Este ese nombre SRL</ion-label>
      <ion-button mode="ios" slot="end" class="btn-flecha ion-no-padding" (click)="detalleVentas()"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
    </ion-item>
    <ion-item lines="none" mode="ios" class="item-list-ventas">
      <ion-label mode="ios" class="family-poppins-semi-bold label-ventas">Este ese nombre SRL</ion-label>
      <ion-button mode="ios" slot="end" class="btn-flecha ion-no-padding" (click)="detalleVentas()"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
    </ion-item>
    <ion-item lines="none" mode="ios" class="item-list-ventas">
      <ion-label mode="ios" class="family-poppins-semi-bold label-ventas">Este ese nombre SRL</ion-label>
      <ion-button mode="ios" slot="end" class="btn-flecha ion-no-padding" (click)="detalleVentas()"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
    </ion-item>
    <ion-item lines="none" mode="ios" class="item-list-ventas">
      <ion-label mode="ios" class="family-poppins-semi-bold label-ventas">Este ese nombre SRL</ion-label>
      <ion-button mode="ios" slot="end" class="btn-flecha ion-no-padding" (click)="detalleVentas()"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
    </ion-item>
  </ion-list>
</ion-content>
