<ion-content>
  <div class="div-central-modal">
    <div class="div-content ion-text-center">
      <div id="div-btn-absolute">
        <ion-button mode="ios" class="btn-circle-top" (click)="dismiss()"><ion-icon name="close"></ion-icon></ion-button>
      </div>
      <h5 class="titulos-content h5-font-color-hacer ion-no-margin">¿Qué vas a hacer?</h5>
      <div class="div-btn-top">
        <ion-button mode="ios" class="btn-iniciciar-style family-poppins-semi-bold" (click)="ventas()" (click)="dismiss()">Iniciar venta</ion-button>
        <ion-button mode="ios" class="btn-iniciciar-style btn-color-modal family-poppins-semi-bold" (click)="dismiss()" (click)="misVentas()">Mis ventas</ion-button>
        <ion-button mode="ios" class="btn-iniciciar-style btn-color-modal family-poppins-semi-bold" (click)="dismiss()" (click)="miCamion()">Ver mi camion</ion-button>
        <ion-button mode="ios" class="btn-iniciciar-style btn-color-modal family-poppins-semi-bold" (click)="dismiss()" (click)="pedidoProgramdo()">Programar pedido</ion-button>
        <ion-button mode="ios" class="btn-iniciciar-style btn-color-modal family-poppins-semi-bold" (click)="misClientes()" (click)="dismiss()">Administrar clientes</ion-button>
        <ion-button mode="ios" class="btn-iniciciar-style family-poppins-semi-bold" id="btncambios" (click)="dismiss()" (click)="cambios()"><ion-icon name="ban" id="iconright"></ion-icon> Cambios</ion-button>
      </div>
    </div>
  </div>
</ion-content>
