<!--<ion-header>
  <ion-toolbar>
    <ion-title>iniciar-ruta</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content [fullscreen]="true">
  <div class="div-conten-completo paddin-left-right-general">
    <img src="assets/img/xu7cRW2x.png" alt="imagenAzul" id="imgwidht">
    <p class="p-widht-centrado ion-no-margin ion-text-center family-poppins-regular">
      Datos guardados <br>  exitosamente
    </p>
  </div>
  </ion-content>
  <ion-footer class="ion-no-border ion-text-center footer-margin-top-bottom" mode="ios">
    <ion-button mode="ios" class="btn-footer-general" (click)="next()">Volver</ion-button>
  </ion-footer>