<!--<ion-header>
  <ion-toolbar>
    <ion-title>iniciar-ruta</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content [fullscreen]="true">
  <div class="div-conten-completo paddin-left-right-general ion-text-center">
    <img src="assets/img/rkcp50-12x.png" alt="imagenAzul" id="imgwidht">
    <p class="p-widht-centrado ion-text-center family-poppins-regular">
      Todavia no tienes carga asignada <br> ¿Qué deseas hacer?
    </p>
    <ion-button mode="ios" class="btn-footer-general" (click)="next()">Solicitar stock</ion-button>
    <ion-button mode="ios" class="btn-footer-general" (click)="next()">Programar pedido</ion-button>
  </div>
  </ion-content>