<!--<ion-header>
  <ion-toolbar>
    <ion-title>verificar-carga</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content [fullscreen]="true" class="ion-no-padding">
  <h1 class="ion-text-center titulos-content titulo-margin-top">Mi camión</h1>
  <ion-grid class="grid-padding-contendor">
    <ion-row>
      <ion-col size="12" class="col-padding-cero-top">
        <ion-row class="ion-align-items-end">
          <ion-col size="5" class="ion-no-padding">
            <h5 class="title-ontenedores title-contenor-margint-top">Presentaciones</h5>
          </ion-col>
          <ion-col size="7" class="ion-no-padding">
            <ion-row>
              <ion-col size="3" class="col-padding-left-right">
                <div class="div-contenedor">
                  <img src="assets/img/contenedor1.png" alt="contenedor1" id="contenedor1">
                </div>
              </ion-col>
              <ion-col size="3" class="col-padding-left-right">
                <div class="div-contenedor">
                  <img src="assets/img/contenedor2.png" alt="contenedor2" id="contenedor2">
                </div>
              </ion-col>
              <ion-col size="3" class="col-padding-left-right">
                <div class="div-contenedor">
                  <img src="assets/img/contenedor3.png" alt="contenedor3" id="contenedor3">
                </div>
              </ion-col>
              <ion-col size="3" class="col-padding-left-right">
                <div class="div-contenedor">
                  <img src="assets/img/contenedor4.png" alt="contenedor4" id="contenedor4">
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" class="col-margin-top-padding-start-end">
        <ion-row class="ion-align-items-center">
          <ion-col size="5" class="ion-no-padding">
            <h5 class="ion-no-margin title-ontenedores" >Carga inicial</h5>
          </ion-col>
          <ion-col size="7" class="ion-no-padding">
            <ion-row>
              <ion-col size="3" class="ion-text-center col-padding-left-right">
                <p class="ion-no-margin p-cantidad-contenedor">310</p>
              </ion-col>
              <ion-col size="3" class="ion-text-center col-padding-left-right">
                <p class="ion-no-margin p-cantidad-contenedor">300</p>
              </ion-col>
              <ion-col size="3" class="ion-text-center col-padding-left-right">
                <p class="ion-no-margin p-cantidad-contenedor">325</p>
              </ion-col>
              <ion-col size="3" class="ion-text-center col-padding-left-right">
                <p class="ion-no-margin p-cantidad-contenedor">80</p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" class="col-margin-top-padding-start-end">
        <ion-row class="ion-align-items-center">
          <ion-col size="5" class="ion-no-padding">
            <h5 class="ion-no-margin title-ontenedores" >Venta a clientes</h5>
          </ion-col>
          <ion-col size="7" class="ion-no-padding">
            <ion-row>
              <ion-col size="3" class="ion-text-center col-padding-left-right">
                <p class="ion-no-margin p-cantidad-contenedor">310</p>
              </ion-col>
              <ion-col size="3" class="ion-text-center col-padding-left-right">
                <p class="ion-no-margin p-cantidad-contenedor">300</p>
              </ion-col>
              <ion-col size="3" class="ion-text-center col-padding-left-right">
                <p class="ion-no-margin p-cantidad-contenedor">325</p>
              </ion-col>
              <ion-col size="3" class="ion-text-center col-padding-left-right">
                <p class="ion-no-margin p-cantidad-contenedor">80</p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" class="col-margin-top-padding-start-end">
        <ion-row class="ion-align-items-center">
          <ion-col size="5" class="ion-no-padding">
            <h5 class="ion-no-margin title-ontenedores" >Venta calle</h5>
          </ion-col>
          <ion-col size="7" class="ion-no-padding">
            <ion-row>
              <ion-col size="3" class="ion-text-center col-padding-left-right">
                <p class="ion-no-margin p-cantidad-contenedor">310</p>
              </ion-col>
              <ion-col size="3" class="ion-text-center col-padding-left-right">
                <p class="ion-no-margin p-cantidad-contenedor">300</p>
              </ion-col>
              <ion-col size="3" class="ion-text-center col-padding-left-right">
                <p class="ion-no-margin p-cantidad-contenedor">325</p>
              </ion-col>
              <ion-col size="3" class="ion-text-center col-padding-left-right">
                <p class="ion-no-margin p-cantidad-contenedor">80</p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" class="col-margin-top-padding-start-end">
        <ion-row class="ion-align-items-center">
          <ion-col size="5" class="ion-no-padding">
            <h5 class="ion-no-margin title-ontenedores" >Total</h5>
          </ion-col>
          <ion-col size="7" class="ion-no-padding">
            <ion-row>
              <ion-col size="3" class="ion-text-center col-padding-left-right">
                <p class="ion-no-margin p-cantidad-contenedor">310</p>
              </ion-col>
              <ion-col size="3" class="ion-text-center col-padding-left-right">
                <p class="ion-no-margin p-cantidad-contenedor">300</p>
              </ion-col>
              <ion-col size="3" class="ion-text-center col-padding-left-right">
                <p class="ion-no-margin p-cantidad-contenedor">325</p>
              </ion-col>
              <ion-col size="3" class="ion-text-center col-padding-left-right">
                <p class="ion-no-margin p-cantidad-contenedor">80</p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" class="col-margin-top-padding-start-end col-fondo-radius">
        <ion-row class="ion-align-items-center">
          <ion-col size="5" class="ion-no-padding">
            <h5 class="ion-no-margin title-ontenedores" >Saldos</h5>
          </ion-col>
          <ion-col size="7" class="ion-no-padding">
            <ion-row>
              <ion-col size="3" class="ion-text-center col-padding-left-right">
                <p class="ion-no-margin p-cantidad-contenedor">310</p>
              </ion-col>
              <ion-col size="3" class="ion-text-center col-padding-left-right">
                <p class="ion-no-margin p-cantidad-contenedor">300</p>
              </ion-col>
              <ion-col size="3" class="ion-text-center col-padding-left-right">
                <p class="ion-no-margin p-cantidad-contenedor">325</p>
              </ion-col>
              <ion-col size="3" class="ion-text-center col-padding-left-right">
                <p class="ion-no-margin p-cantidad-contenedor">80</p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card class="card-vendido" mode="ios">
    <ion-row class="ion-align-items-start ion-justify-content-between">
      <ion-col size="5">
        <h5 class="ion-no-margin family-poppins-semi-bold title-card-vendido">Total vendido:</h5>
      </ion-col>
      <ion-col size="7">
        <ion-row class="ion-align-items-start">
          <ion-col size="12" class="col-padding-top-cero">
            <ion-row class="ion-align-items-start">
              <ion-col size="6" class="col-padding-top-cero">
                <p class="ion-no-margin family-poppins-regular p-card-descrip-size">Crédito</p>
              </ion-col>
              <ion-col size="6" class="col-padding-top-cero">
                <p class="ion-no-margin family-poppins-regular p-card-descrip-size">S/.735</p>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="12" class="col-padding-top-cero">
            <ion-row class="ion-align-items-start">
              <ion-col size="6" class="col-padding-top-cero">
                <p class="ion-no-margin family-poppins-regular p-card-descrip-size">Contado</p>
              </ion-col>
              <ion-col size="6" class="col-padding-top-cero">
                <p class="ion-no-margin family-poppins-regular p-card-descrip-size">S/.371</p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card>
  <h5 class="ion-text-center titulos-content h5-pedidos-margin-top">Mis pedidos para hoy</h5>
  <div class="ion-text-center div-btn-margin-top">
    <ion-button mode="ios" class="btn-pedidos-style family-poppins-regular" (click)="detallePedido()">Orion - san Pedro</ion-button>
    <ion-button mode="ios" class="btn-pedidos-style family-poppins-regular">Plaza vea</ion-button>
    <ion-button mode="ios" class="btn-pedidos-style family-poppins-regular" (click)="carga()">Venta general</ion-button>
  </div>
  <!--
  <div class="ion-text-center div-fondo-hacer">
    <h5 class="titulos-content h5-font-color-hacer ion-no-margin">¿Qué vas a hacer?</h5>
    <ion-button mode="ios" class="btn-iniciciar-style family-poppins-semi-bold">Iniciar venta</ion-button>
  </div>
  -->
</ion-content>
<ion-footer class="ion-no-border ion-text-center" mode="ios">
  <div id="div-btn-absolute">
    <ion-button mode="ios" class="btn-circle-top" (click)="presentModal()"><ion-icon name="chevron-up-outline"></ion-icon></ion-button>
  </div>
  <div class="div-acciones">
    Acciones
  </div>
</ion-footer>
